* {
    box-sizing: border-box;
}

.form {
    max-width: 400px;
    margin: 50px auto;
}

input.searchinput {
    margin: 0;
    font-size: 40px;
    width: 100%;
    outline: none;
    border: 10px solid #F7F7F7;
    border-radius: 5px;
    z-index: 2;
    position: relative;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

.suggestions {
    position: relative;
    margin: 0;
    padding: 0;
}

.suggestions li {
    list-style: none;
    border: 1px solid gray;
    margin: 0;
    padding: 20px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    background: white;
    border-bottom: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
}

.suggestions li:last-child {
    border-bottom: 1px solid gray;
}